<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/Styles.css" type="text/css">

</head>
<body>
    <div id="header">
        <img id="logo" src="/images/logo.png" />
    </div>

    <nav>
        <ul>

            <li><a asp-action="Index" asp-controller="Home"> Home </a></li>
            <li><a asp-action="ClubPage" asp-controller="Home"> Club </a></li>

            @if (!User.Identity.IsAuthenticated)

            {

                <li><a asp-action="Login" asp-controller="Account"> Log In </a></li>

            }
            else
            {

                if (User.IsInRole("Admin"))
                {
                    <li><a asp-action="AddClubPage" asp-controller="Home">Add Club</a></li>
                    <li><a asp-action="LogPage" asp-controller="Home">View Logs</a></li>
                }
                <li><a asp-action="ManagePlayersPage" asp-controller="Home"> Manage Players </a></li>
                <li><a asp-action="Logout" asp-controller="Account"> Log Out </a></li>
            }

        </ul>
    </nav>

    @if (TempData["message"] != null)
    {
        <p class="message">@TempData["message"]</p>
    }

    <div id="container">
        <div id="text-block">
            @RenderBody()
        </div>
    </div>

</body>
</html>


