@model Player

<div>
    <label asp-for="PlayerName">Name:</label>
    <div><span asp-validation-for="PlayerName" class="validation-summary-errors"></span></div>
    <input asp-for="PlayerName" />
</div>
<div>
    <label asp-for="Age">Age:</label>
    <div><span asp-validation-for="Age" class="validation-summary-errors"></span></div>
    <input asp-for="Age" />
</div>
<div>
    <label asp-for="CountryOfBirth">Country of Birth: </label>
    <input asp-for="CountryOfBirth" />
</div>
<div>
    <label asp-for="PlayingPosition">Position: </label>
    <select asp-for="PlayingPosition">
        <option value="Defender">Defender</option>
        <option value="Forward">Forward</option>
        <option value="Goalkeeper">Goalkeeper</option>
        <option value="Midfielder">Midfielder</option>
    </select>
</div>

<div>
    <label asp-for="ClubID">Club: </label><br />
    <div><span asp-validation-for="ClubID" class="validation-summary-errors"></span></div>
    <select asp-for="ClubID">
        @foreach (Club club in ViewBag.ClubList)
        {
            <option value="@club.ClubID">@club.ClubFullName</option>

        }
    </select>
</div>



