@model Club


<div asp-validation-summary="All"></div>
<div>
    <label asp-for="ClubFullName">Club Name:</label>
    <input asp-for="ClubFullName" />
</div>
<div>
    <label asp-for="Country">Country:</label>
    <input asp-for="Country" />
</div>

<div>
    <label asp-for="HeadCoachName">Head Coach Name:</label>
    <input asp-for="HeadCoachName" />
</div>
<div>
    <label asp-for="Ground">Ground: </label>
    <input asp-for="Ground" />
</div>


