@model LoginModel
@{
    ViewBag.Title = "Log In - Soccer Manager";
}
<h2>  Login </h2>
<form class= "form defaultForm" asp-action="Login" asp-controller="Account" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <div class="form-group">
        <label asp-for="UserName">Username</label>
        <div><span asp-validation-for="UserName" class="validation-summary-errors"></span></div>
        <input asp-for="UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <div><span asp-validation-for="Password" class="validation-summary-errors"></span></div>
        <input asp-for="Password"/>
    </div>
    <button class=" button greenButton" type="submit">Log In</button>
</form>

