@model LoginModel
@{
    ViewBag.Title = "Log In";
}
<div asp-validation-summary="All"></div>
<form asp-action="Login" asp-controller="Account" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <div><span asp-validation-for="Name"></span></div>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <div><span asp-validation-for="Password"></span></div>
        <input asp-for="Password" />
    </div>
    <button class=" button greenButton" type="submit">Log In</button>
    <button class=" button greenButton" type="submit" asp-controller="Account" asp-action="Register" formmethod="get">Register</button>
</form>

