@model RegistrationModel
@{
    ViewBag.Title = "Registration - Soccer Manager";
}
<h2>  Registration  </h2>
<div asp-validation-summary="All" class="validation-summary-errors"></div>
<form class="form defaultForm" asp-action="Register" asp-controller="Account" method="post">
    <div class="form-group">
        <label asp-for="UserName">Username</label>
        <div><span asp-validation-for="UserName" class="validation-summary-errors"/></div>
        <input asp-for="UserName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="FirstName">First Name</label>
        <div><span asp-validation-for="FirstName" class="validation-summary-errors"/></div>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LastName">Last Name</label>
        <div><span asp-validation-for="LastName" class="validation-summary-errors"/></div>
        <input asp-for="LastName" class="form-control" />
    </div>
       <div class="form-group">
        <label asp-for="Email"></label>
        <div><span asp-validation-for="Email" class="validation-summary-errors"/></div>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <div><span asp-validation-for="Password" class="validation-summary-errors"/></div>
        <input asp-for="Password" />
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword">Confirm Your Password</label>
        <div><span asp-validation-for="ConfirmPassword" class="validation-summary-errors"/></div>
        <input asp-for="ConfirmPassword" />
    </div>
    <button class=" button greenButton" type="submit">Register</button>
</form>
