@model Player
@{
    ViewBag.Title = "Edit Player";

}
<form class="form defaultForm" asp-action="EditPlayer" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="PlayerName">Name:</label>
        <div><span asp-validation-for="PlayerName" class="validation-summary-errors" /></div>
        <input asp-for="PlayerName" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="Age">Age:</label>
        <div><span asp-validation-for="Age" class="validation-summary-errors"/></div>
        <input asp-for="Age" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="CountryOfBirth">Country:</label>
        <input asp-for="CountryOfBirth" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PlayingPosition">Position:</label>
        <select asp-for="PlayingPosition">
            <option value="Defender">Defender</option>
            <option value="Forward">Forward</option>
            <option value="Goalkeeper">Goalkeeper</option>
            <option value="Midfielder">Midfielder</option>
        </select>
    </div>
    <div class="text-center">
        <input type="hidden" asp-for="ClubID" />
        <button class="button greenButton" type="submit">Save</button>
        <button asp-action="Index" class="button redButton" type="submit">
            Cancel
        </button>
    </div>
</form>
